<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header app-menu">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{ title }}</span>
            <div class="mdl-layout-spacer"></div>
                <!--
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="#">Home</a>
                    <a class="mdl-navigation__link" href="#">About</a>
                    <a class="mdl-navigation__link" href="#">Contact</a>
                  </nav>
                -->

              <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                  <label class="mdl-button mdl-js-button mdl-button--icon" for="search-expandable">
                      <i class="material-icons">search</i>
                  </label>
                  <div class="mdl-textfield__expandable-holder">
                      <input class="mdl-textfield__input" type="text" id="search-expandable" />
                      <label class="mdl-textfield__label" for="search-expandable">Search text</label>
                  </div>
              </div> -->
        </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">MENU</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" (click)="sidenav.close()" routerLink="/">Home</a>
        <a class="mdl-navigation__link"  routerLink="/about">Sobre</a>
        <a class="mdl-navigation__link"  routerLink="/statistics">Gráficos</a>
    </nav>
  </div>

  <div class="container app-container">
    <router-outlet></router-outlet>
  </div>
</div>
