<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav class="sidenav">
  <!-- <md-sidenav #sidenav class="sidenav sidenav-fullscreen"> -->

    Menu Principal
    <button md-button (click)="sidenav.close()">
      <md-icon>close</md-icon>
    </button>
    <hr>

    <a routerLink="" (click)="sidenav.close()">Home</a>
    <a routerLink="/about" (click)="sidenav.close()">Sobre</a>

  </md-sidenav>

  <md-toolbar color="primary">
    <button md-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    <span class="app-title">{{ title }}</span>
    <span class="toolbar-spacer"></span>
  </md-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>
