<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> -->

  <!-- Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css"> -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" /> -->

  <link rel="stylesheet" href="<%= bundle_css %>">

</head>

<body>

  <div class="container">
    <div id="app">
    </div>

  </div>

  <script src="<%= bundle_js %>"></script>

</body>

</html>
