<label for="first_name">Minha Unidade Educacional</label>
  <br>
<form action="#">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">


						<label class="mdl-button mdl-js-button mdl-button--icon" for="site-search">
								<i class="material-icons">search</i>
							</label>
							<div class="mdl-textfield__expandable-holder">
								<input placeholder="Digite a sua Unidade Educacional" class="mdl-textfield__input" type="search" id="site-search" />
								<label class="mdl-textfield__label" for="site-search">Search</label>
							</div>
						</div>
				</form>
