<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NutriEscola - SME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="<%= bundle_css %>">

  </head>
  <body>

    <div id="app">
    </div>

    <script src="<%= bundle_js %>"></script>

  </body>
</html>
